.menuToogle {
  position: fixed;
  top: 20px;
  left: 10px;
  font-size: 20px;
  cursor: pointer;
  color: white;
  z-index: 1000;
  transition: opacity, left 0.33s ease-in;
}

.menuToogle:hover {
  opacity: 0.7;
}

.menuToogle.open {
  left: 50%;
}
