/*@import '~antd/dist/antd.css';*/
/*html,*/
/*body {*/

/*    margin: 0;*/
/*    font-family: 'Poppins', sans-serif;*/
/*    font-weight: 400;*/
/*    font-stretch: normal;*/
/*    font-size: 14px;*/
/*    line-height: 1.8;*/
/*    color: white;*/
/*    background-color: #1f1f20;*/
/*    letter-spacing: 0.5px;*/
/*    scroll-behavior: smooth;*/

/*    -webkit-font-smoothing: antialiased;*/
/*    -moz-osx-font-smoothing: grayscale;*/
/*}*/

/*code {*/
/*    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",*/
/*    monospace;*/
/*}*/
